<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        button {
            width: 200px;
            height: 50px;
        }
    </style>
</head>
<body>

    <div id="app">
        <h1>{{ message }}</h1>

        to: <br>
        <Input v-for="t in to" />

        <hr>
        cc: <br>
        <Input v-for="t in cc" />

        <hr>
        <hr>
        <Button thetitle="Submit"/>
    </div>

    <script>

        const Input = Vue.component('Input', {
            props: ['todo'],
            template: `<input type='text' />`
        });

        const Button = Vue.component('Button', {
            props: {
                title: 'Button'
            },
            template: `<button type="button">{{title}}</button>`
        });


        const app = new Vue({
            el: '#app',
            components: {
                Input, Button
            },
            data: {
                message: 'Email',
                cc: [],
                to: []
            }
        });
    </script>
</body>
</html>
